@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Are U Sure?</h1>
<div asp-validation-summary="All"> </div>

<form asp-action="Delete">

    <partial name="PartialViews/DetailsDeleteEmployeePartial" />

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action ="Index" class="btn btn-info"> Cancel</a>
  

</form>