
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">


            <div>
                <p> Password reset link has been sent to your email, plz check ur inbox : </p>
                <a   href="https://mail.google.com/mail/u/0/#inbox"  >ur inbox</a>
            </div>
        </div>
    </div>







</div>

